.body {
  display: flex;
  flex-direction: column;
  position: relative;
}

.imgBorder {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30rem;
}

.imgContainer {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
}
