.body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 30rem;
  overflow: hidden;
}

.img {
  position: absolute;
  width: 100%;
  height: 100%;
}
