.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 0.4rem;
}

.prevBtn,
.searchBtn,
sideBtn {
  border: none;
}

.icon {
  font-size: var(--font-size-medium);
}
