.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.4rem;
  padding: 0.4rem 0;
}

.prevBtn,
.searchBtn,
.sideBtn {
  border: none;
  display: felx;
  align-items: center;
  padding: 0;
}

.rightpart,
.leftpart {
  display: flex;
  align-items: center;
}

.icon {
  font-size: var(--font-size-medium);
  height: 100%;
}
