.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 0.4rem;
}

.prevBtn {
  border: none;
  pointer-events: none;
}

.preBtn:hover {
}

.icon {
  font-size: var(--font-size-medium);
}
