.nav {
  display: flex;
  justify-content: space-evenly;
}

.type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typeBtn {
  border-radius: 100%;
  padding: 0.4rem;
  border: 1px;
}

.reactIcon {
  font-size: var(--font-size-small-medium);
}

.typeName {
  font-weight: bold;
}
