.btn {
  outline: none;
  padding: 0.2rem 0.6rem;
  background-color: var(--color-bg);
  border: none;
  cursor: pointer;
  color: var(--color-darkBlue);
  font-size: var(--font-size-medium);
  border: 2px solid var(--color-darkBlue);
  border-radius: 20px;
  font-weight: 600;
  box-shadow: var(--shadow);
}
