.header {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 0 0.4rem;
  align-items: center;
}

.title {
  margin: 0;
  font-size: var(--font-size-small-large);
  color: var(--color-darkBlue);
}

.searchBtn {
  border: none;
}

.searchBtn:hover {
  border: none;
  color: none;
  background-color: none;
}

.searchBtn:hover {
}

.icon {
  font-size: var(--font-size-small-large);
}
