.container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  opacity: 0;
  transition: all 0.3s ease-in;
  background-color: var(--color-bg);
  z-index: 99;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0.6rem;
  align-items: center;
  border-bottom: 1px solid var(--color-darkBlue);
}

.title {
  color: var(--color-darkBlue);
}

.appear {
  top: 0%;
  opacity: 1;
}

.disappear {
  top: 100%;
  opacity: 0;
}

.selectGroup {
  display: flex;
  flex-direction: column;
  padding: 0.6rem 0.6rem;
}

.input {
  border: none;
  font-size: var(--font-size-medium);
  padding: 0.3rem 0.3rem;
  outline: none;
  border-bottom: 1px solid var(--color-darkBlue);
  margin-bottom: 0.8rem;
}

.selectGroup__bottom {
  display: flex;
  gap: 1rem;
}

.select {
  width: 50%;
  font-size: var(--font-size-medium);
  border-bottom: 1px solid var(--color-darkBlue);
  border-radius: 20px;
}
