.categories {
  display: flex;
  padding 0 0.4rem;
}

.category {
  font-size: var(--font-size-small-large);
  cursor: pointer;
  font-weight: bold;
  color: var(--color-darkBlue);
}

.active {
  border-bottom: 3px solid var(--color-main);
}
