.categories {
  display: flex;

  padding-bottom: var(--padding-bottom);
}

.category {
  font-size: var(--font-size-small-large);
  cursor: pointer;
  font-weight: bold;
  color: var(--color-darkBlue);
}

.category:not(:first-child) {
  margin-left: 0.6rem;
}

.active {
  border-bottom: 3px solid var(--color-main);
}
