.categories {
  display: flex;
  padding: 0 0.4rem;
  padding-bottom: var(--padding-bottom);
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
}

.category {
  font-size: var(--font-size-small-large);
  cursor: pointer;
  font-weight: bold;
  color: var(--color-darkBlue);
}

.category:not(:first-child) {
  margin-left: 0.6rem;
}

.active {
  border-bottom: 3px solid var(--color-main);
}
