.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.4rem 0.4rem;
  color: var(--color-darkBlue);
  border-bottom: 1px solid var(--color-darkBlue);
}

.prevBtn,
.searchBtn,
.sideBtn {
  border: none;
  display: felx;
  align-items: center;
  padding: 0;
}

.prevBtn:hover,
.searchBtn:hover,
.sideBtn:hover {
  background-color: white;
  color: var(--color-darkBlue);
}

.title {
  font-size: var(--font-size-medium);
}

.searchBtn {
  margin-right: 0.6rem;
}

.icon {
  font-size: var(--font-header-icon);
  height: 100%;
}
