@value mainFontColor, unActivedColor from '../../../common/color.css';

footer {
  /* position: sticky; */

  padding: 0.2rem 0;
}

.actived {
  color: mainFontColor;
}

.unActived {
  color: unActivedColor;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navItem__text {
  font-size: 0.8rem;
}
