.item {
  position: relative;
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid black;
}

.img {
  width: 20;
  height: 6rem;
}

.right {
  width: 100%;
  padding-left: 0.4rem;
}

.title {
  font-size: var(--font-size-medium);
  margin-bottom: 0.2rem;
}

.nickname {
  font-size: var(--font-size-small-medium);
  margin-bottom: 0.2rem;
}
