@value overBackgroundColor, mainFontColor from '../../common/color.css';

.container {
  position: absolute;
  z-index: 11;
  height: 100%;
  width: 100%;
  background-color: overBackgroundColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error__form {
  background-color: white;
  width: 80%;
  height: 20%;
  border: 1px solid mainFontColor;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.btn {
  font-size: 1.2rem;
  background-color: mainFontColor;
  padding: 0.4rem 0.6rem;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

/* 
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	 */
